<!-- Start footer -->
<footer>
    <div class="row">
        <div class="col s12 center">
            <h5 id="follow-us">Follow us on</h5>
            <h1>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-github-square"></i>
            </h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col s12 center">
            <p>Contact us<a href="">info@gmail.com</a></p></p>
        </div>
    </div>
    <div class="footer-copyright center">
        <div>
            Made by <a href="">© PSD</a>
        </div>
    </div>
</footer>
<!-- End footer -->