<!-- Start footer -->
<footer class="page-footer">
    <div class="row">
        <div class="col s12">
            <h5 >Bullock Seyam Developers</h5>
            <p class="grey-text text-lighten-4">We are a duo of part-time Coding Bootcamp Freelancers working on this project like it's our
                full time job. If you have any suggestions, would like to collaborate on a layout or wish to enter our design competition, please contact us at <a href="mailto:bsdev@gmail.com" class="blue-text text-darken-4">bsdev@gmail.com</a></p>
        </div>
    </div>
        <div class="footer-copyright">
        <div class="container">
            Made by <a class="blue-text text-darken-4" href="">BSD</a>
        </div>
        </div>
</footer>
<!-- End footer -->