<!-- Start navbar -->
<div id="header-login">
    <div class="navContainer">
        <div id="#masthead-login">
            <a id="first-child" href="/#signup">Sign up</a>
            <a href="/#contact">Contact</a>
            <a id="logo" href="/"><i class="material-icons large">business</i> PB</a>
        </div>
    </div>
</div>
<!-- End navbar -->