<!-- Start navbar -->
<div id="header">
    <div class="navContainer">
        <div id="#masthead">
            <a id="first-child" href="#" class="logged-out modal-trigger" data-target="modal-signup">Sign Up</a>
            <a href="#" class="logged-out modal-trigger" data-target="modal-login">Log In</a>
            <a href="#contact">Contact</a>
            <a href="/improvements">Improvements</a>
            <a id="logo" href="/"><i class="material-icons large">business</i> PB</a>
        </div>
    </div>
</div>
<!-- End navbar -->