<!-- Start navbar -->
<div id="header">
    <div class="navContainer">
        <div id="#masthead">
            <a id="first-child" href="#signup">Get Started</a>
            <a href="login">Log In</a>
            <a href="#contact">Contact</a>
            <a id="logo" href="/"><i class="material-icons large">business</i> PB</a>
        </div>
    </div>
</div>
<!-- End navbar -->