<div class = "accountContainer"> 
   <div class="row">
        <form class="col s10 accountForm">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="" id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label id="profileImgLabel">Profile Photo</label>
                    <div class = "file-field input-field">
                        <div class = "btn">
                            <span>Browse</span>
                            <input type = "file"/>
                        </div>
                        <div class = "file-path-wrapper">
                            <input class = "file-path validate" type = "text" placeholder = "Upload file"/>
                        </div>
                    </div>
                </div>  
            </div>

            <table id="tableBody" class="responsive-table">
                <tbody>
                    <tr>
                        <td><label for="experiences">Experiences</label></td>
                        <td><a class="btn-floating waves-effect waves-light grey"><i class="material-icons">add</i></a></td>
                    </tr>
                    <tr>
                        <td><label for="projects">Projects</label></td>
                        <td><a class="btn-floating waves-effect waves-light grey"><i class="material-icons">add</i></a></td>
                    </tr>
                    <tr>
                        <td><label for="education">Education</label></td>
                        <td><a class="btn-floating waves-effect waves-light grey"><i class="material-icons">add</i></a></td>
                    </tr>
                    <tr>
                        <td><label for="LicCert">Licenses and Certifications</a></label></td>
                        <td><a class="btn-floating waves-effect waves-light grey"><i class="material-icons">add</i></td>
                    </tr>
                    <tr>
                        <td><label for="skills">Skills</label></td>
                        <td><a class="btn-floating waves-effect waves-light grey"><i class="material-icons">add</i></a></td>
                    </tr>
                    <tr>
                        <td><label for="testimonials">Testimonials</label></td>
                        <td><a class="btn-floating waves-effect waves-light grey"><i class="material-icons">add</i></a></td>
                    </tr>
                    <tr>
                        <td><label for="contact_info">Contact Information</label></td>
                        <td><a class="btn-floating waves-effect waves-light grey"><i class="material-icons">add</i></a></td>
                    </tr>
                </tbody>
            </table>
        </form>
  </div>
</div>