{{>account-header}}
<!--Start bottom parallax-->
<div class="parallax-container center valign-wrapper other-pages-parallax">
    <div class="container">
        <div class="row parallax03">
            <div class="col s12 white-text">
				<h3>Thank you for choosing BSD</h3>
                <h1>Please fill in the form below with your information</h1>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/parallax4.jpg"></div>
</div>
<!--End bottom parallax-->
<!--Start first section -->
<div class="section white content-container">
   <div class="row">
       <div class="col s12 card-wrap">
            <div class="card profile-form">
                <h1>Profile Information</h1>
                <div class="divider"></div>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Full Name</div>
                        <div class="collapsible-body">
                            <form class="account_form accountForm">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input placeholder="" id="first_name" type="text" class="validate">
                                        <label class="accountFieldLabel" for="first_name">First Name</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input placeholder="" id="last_name" type="text" class="validate">
                                        <label class="accountFieldLabel" for="last_name">Last Name</label>
                                    </div>
                                     <div class="input-field col s12">
                                        <input placeholder="" id="title" type="text" class="validate">
                                        <label class="accountFieldLabel" for="title">Title</label>
                                    </div> 
                                </div>
                                <button id="nameSubmit" class="collapsible btn sendBtn waves-effect waves-light right" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                                <div class="clear"></div>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Experiences</div>
                        <div class="collapsible-body">
                            <form class="account_form accountForm">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input placeholder="" id="company-project" type="text" class="validate">
                                        <label class="accountFieldLabel" for="company-project">Company/Project</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input placeholder="" id="title-role" type="text" class="validate">
                                        <label class="accountFieldLabel" for="title-role">Title/Role</label>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea placeholder="" id="description" type="text" class="validate materialize-textarea"></textarea>
                                            <label class="accountFieldLabel" for="description">Description</label>
                                        </div>
                                    </div>
                                </div>
                                <button id="expSubmit" class="collapsible btn waves-effect waves-light right" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                                <div class="clear"></div>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Education</div>
                        <div class="collapsible-body">
                            <form class="account_form accountForm">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input placeholder="" id="institute" type="text" class="validate">
                                        <label class="accountFieldLabel" for="institute">Institute</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input placeholder="" id="degree" type="text" class="validate">
                                        <label class="accountFieldLabel" for="degree">Degree</label>
                                    </div>
                                </div>
                                <button id="eduSubmit" class="collapsible btn waves-effect waves-light right" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                                <div class="clear"></div>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Licenses/Certifications</div>
                        <div class="collapsible-body">
                            <form class="account_form accountForm">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="" id="lice-cert-name" type="text" class="validate">
                                        <label class="accountFieldLabel" for="lice-cert-name">Name of License/Certificate</label>
                                    </div>
                                </div>
                                <button id="licertSubmit" class="collapsible btn waves-effect waves-light right" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                                <div class="clear"></div>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Skills/Accomplishments</div>
                        <div class="collapsible-body">
                            <form class="account_form accountForm">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="" id="skill-accom-name" type="text" class="validate">
                                        <label class="accountFieldLabel" for="skill-accom-name">Name of Skill/Accomplishment</label>
                                    </div>
                                </div>
                                <button id="skaccomSubmit" class="collapsible btn waves-effect waves-light right" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                                <div class="clear"></div>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Contact Information</div>
                        <div class="collapsible-body">
                            <form class="account_form accountForm">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="" id="facebook" type="text" class="validate">
                                        <label class="accountFieldLabel" for="facebook">Link to Facebook</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="" id="linkedin" type="text" class="validate">
                                        <label class="accountFieldLabel" for="linkedin">Link to Linkedin</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="" id="github" type="text" class="validate">
                                        <label class="accountFieldLabel" for="github">Link to GitHub</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="" id="instagram" type="text" class="validate">
                                        <label class="accountFieldLabel" for="instagram">Link to Instagram</label>
                                    </div>
                                </div>
                                <button id="connectSubmit" class="collapsible btn waves-effect waves-light right" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                                <div class="clear"></div>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Profile Photo</div>
                        <div class="collapsible-body">
                            <form class = "col s12">
                                <div class = "row">
                                <div class = "file-field input-field">
                                    <div class = "btn">
                                        <span>Browse</span>
                                        <input type = "file" />
                                    </div>
                                    
                                    <div class = "file-path-wrapper">
                                        <input class = "file-path validate" type = "text"
                                            placeholder = "Upload file" />
                                    </div>
                                </div>
                                </div>
                            </form> 
                            <button id="profileImgSubmit" class="collapsible btn sendBtn waves-effect waves-light right" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                            <div class="clear"></div>
                        </div>
                    </li>
                </ul>
                <div class="card-action">
                    <a class="btn" href="/dark/{{data.id}}" id="readyToGo" data-id=>Ready to Go</a>
                </div>
                <div id="data" data-id={{data.id}} style="display: none"></div>
            </div>
        </div>

    </div>
</div>
<!-- End of first section -->
{{>footer}}