{{>account-header}}

<!--Start bottom parallax-->
<div class="parallax-container center valign-wrapper other-pages-parallax">
    <div class="container">
        <div class="row parallax03">
            <div class="col s12 white-text">
                <h1>Welcome Back {{data.userName}} </h1>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/parallax3.jpg"></div>
</div>
<!--End bottom parallax-->
<!--Start first section -->
<div class="section white content-container" id="signup">
    <div class="row">
        <div class="col s10 menuItems offset-s1">
            <a id="first-child" href="/account/{{data.id}}"><h3>Update your account info</h3></a>
        </div>
    </div>
    <div class="row">
        <div class="col s10 menuItems offset-s1">
            <a id="first-child" href="/account"><h3>Check your template</h3></a>
        </div>
    </div>
    <div class="row">
        <div class="col s10 menuItems offset-s1">
            <h3>Choose your template if you have not yet</h3>
        </div>
    </div>
    <div class="row relative">
        <form class="col s12 temps">
           <div class="col s4">
               <label>
                    <input type="checkbox"/>
                    <span><img class="img-cms" id="img-cms-02" src="/images/temp_02.jpg" alt="img_01"></span>
                </label>
            </div>
            <div class="col s4">
               <label>
                    <input type="checkbox"/>
                    <span><img class="img-cms" id="img-cms-03" src="/images/temp_01.jpg" alt="img_01"></span>
                </label>
            </div>
            <div class="col s4">
               <label>
                    <input type="checkbox"/>
                    <span><img class="img-cms" id="img-cms-04" src="/images/temp_03.jpg" alt="img_01"></span>
                </label>
            </div>
        </form>
    </div>
</div>

<!-- End first section -->

{{>footer}}