{{>login-header}}

<br><br>
<!--Start first section -->
<div class="section white content-container">
    <div class="row">
        <div class="row">
            <div class="col s12">
                <h3>Improvements</h3>
                <ol>
                    <h5 class="improv">
                        <li> Notify the user before deleting or updating any record and do not take any
                            action until they confirm the deletion or update.</li>
                    </h5>
                    <h5 class="improv">
                        <li> Give the user the ability to update their social media links one by one not as
                            a bunch.</li>
                    </h5>
                    <h5 class="improv">
                        <li> Allow the user to update their profile photo instead of inserting a new one
                            to not overflow the db with tons of unnecessary data.</li>
                    </h5>
                    <h5 class="improv">
                        <li> Integrate google and social media accounts in the login.</li>
                    </h5>
                    <h5 class="improv">
                        <li> Allow users to upload their preferred images to each section instead of
                            displaying images of developer's choice.</li>
                    </h5>
                    <h5 class="improv">
                        <li> Collaborate with legitimate web designers to create templates. This could be a competition
                            for whose template is utilized the most.</li>
                    </h5>
                    <h5 class="improv">
                        <li> Make the themes more dynamic - users choose building blocks and where they go and the
                            application is able to build a truly personal portfolio for the user using those inputs.
                        </li>
                    </h5>
                    <h5 class="improv">
                        <li> Allow users to choose a domain name and use a hosting service to actually render their
                            portfolio pages on a web hosting service.</li>
                    </h5>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- End of first section -->
{{>footer}}