{{>login-header}}

<br><br>
<!--Start first section -->
<div class="section white content-container">
    <div class="row">
        <div class="row">
            <div class="col s12">
                <h3>Improvements</h3>
                <ol>
                    <h5 class="improv"><li> Notify the user before deleting or updating any record and not taking any 
                        action untli he confirm the deletion or updating.</li></h5>
                    <h5 class="improv"><li> Give the user the abliity to update his social media links one by one not as 
                        a bunch.</li></h5>
                    <h5 class="improv"><li> Allow the user to update his proflie photo instead of inserting a new one 
                        to not overflow the db with tons of not needed data.</li></h5>
                    <h5 class="improv"><li> Integrate google and social media accounts login.</li></h5>
                    <h5 class="improv"><li> Allow user to upload his prefered images to each section instead of 
                        displaying images of developer's choice.</li></h5>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- End of first section -->
{{>footer}}