
<div id="header">
	<div class="container">
      <nav>
        <a href="index.html">About</a>
        <a href="portfolio.html">Technologies</a>
        <a href="contact.html">Contact</a>
      </nav>
    </div>
</div>

<div id="fullpage">
	<div class="section" id="section0">
		<h1>Portfolio Creator</h1>
		<h3>Everything You Need. And More.</h3>
		<button id="getStartedBtn">Get Started</button> <br>
		<button id="logInBtn">Log In</button>
	</div>
	<div class="section" id="section1">
		<h1>Lorem ipsum dolor sit amet.</h1>
	</div>
	<div class="section" id="section2"></div>
	<div class="section" id="section3"></div>
</div>