
<div id="header">
	<div class="container">
      <div id="#masthead">
        <a id="first-child" href="index.html">About</a>
        <a href="portfolio.html">Technologies</a>
        <a href="contact.html">Contact</a>
      </div>
  </div>
</div>

<div id="fullpage">
	<div class="section" id="section0">
		<h1>Portfolio Creator</h1>
		<h3>Everything You Need. And More.</h3>
		<div class="options">
			<a href="#">Get Started</a>
			<a href="#">Log In</a>
    </div>
	</div>
	<div class="section" id="section1"></div>
	<div class="section" id="section2"></div>
	<div class="section" id="section3"></div>
</div>