{{>main-header}}

<!--Start top parallax-->
<div class="parallax-container center valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 white-text">
                <h1>Portfolio Builder</h1>
                <h5>Everything You Need. And More.</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/parallax1.jpg"></div>
</div> <br><br>
<!--End top parallax-->
<!--Start first section -->
<div class="section white content-container">
    <div class="row">
        <div class="col s6">
            <img class="img-portfolio" src="images/img_01.jpg" alt="img_01">
        </div>
        <div class="col s6 first-para">
            <h3>Build a portfolio in minutes, not days!</h3>
            <p>
                Creating a website can be a frustrating process for those who do not have any technical knowledge. 
                That’s why we created a Portfolio Builder (CMS) that lets you create your own website. Get online, choose one of our templates
                and take control of your online presence.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h3>Why CMS?</h3>
            <p class="text-darken-3 lighten-3">
                A CMS or a 'Content Management System' allows you to control and manage the content within your 
                website without having any technical background. Using this uncomplicated system you can very easily 
                add, delete images and edit text in your website on the fly.
            </p>
        </div>
    </div>
    
    <div class="row create-portfolio">
        <div class="col s12">
            <h3>How to create portfolio?</h3>
            <h5>1. Sign up</h5>
            <p class="text-darken-3 lighten-3">Create an account and enter all of your infromation.</p>
            <h5>2. Choose a template</h5>
            <p class="text-darken-3 lighten-3">Pick one of our desined templates. We have more than 100 templates.</p>
            <h5>3. Customize your portfolio</h5>
            <p class="text-darken-3 lighten-3">Make a professional website that will represent you best! Find all the tools that will make your portfolio entries shine!</p>
            <h5>4. Publish</h5>
            <p class="text-darken-3 lighten-3">Creating a portfolio is just the start! Check our services to learn more.</p>
        </div>
    </div><br><br>
    <div class="divider"></div>
    <div id="templates" class="row templates-carousel-header">
        <div class="col s12">
            <h3>Check out our templates</h3>
        </div>
    </div>
    <div class="row relative">
        <div class="col s12 photos">
            <div class="col s4">
                <a id="first-child" href=""><img class="img-cms" id="img-cms-02" src="images/temp_02.jpg" alt="img_01"></a>
            </div>
            <div class="col s4">
                <a id="first-child" href="/dark"><img class="img-cms" id="img-cms-03" src="images/temp_01.jpg" alt="img_01"></a>
            </div>
            <div class="col s4">
                <a id="first-child" href="/light"><img class="img-cms" id="img-cms-04" src="images/temp_03.jpg" alt="img_01"></a>
            </div>
        </div>
    </div>
    <div class="divider"></div><br><br>
</div>
<!-- End of first section -->
<!--Start bottom parallax-->
<div class="parallax-container center valign-wrapper">
    <div class="container">
        <div class="row parallax02">
            <div class="col s12 white-text">
                <h1>Sign up now for free</h1>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/parallax2.jpg"></div>
</div>
<!--End bottom parallax-->
<!--Start first section -->
<div class="section white content-container" id="signup">
    <div class="row">
        <div class="col s6 card-wrap">
            <div class="card">
                <h1>Create an account</h1>
                <div class="divider"></div>
                <form id="signup_form">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input placeholder="" id="username" type="text" class="validate">
                            <label for="username">User Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock_outline</i>
                            <input placeholder="" id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input placeholder="" id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center col s12">
                            <div class="g-recaptcha" data-sitekey="site key goes here"></div>
                        </div>
                    </div>
                </form>
                <div class="card-action">
                    <a class="btn" id="signUp">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="col s6 loginDiv">
            <br><br><br>
            <hr class="hr-text" data-content="OR">
            <br>
            <div class="socialIcons">
                <i class="fa fa-facebook-official">&nbsp; | Log in with Facebook</i>
            </div>
            <div class="socialIcons">
                <i class="fa fa-google-plus-official">&nbsp; | Log in with Google</i>
            </div><br><br>
            <div class="loginPage-redirect">
                <h4>Already have an account?</h4>
                <a href="login">Login here</a>
            </div>
        </div>
    </div><br><br>
    <div class="divider"></div><br>
    <div class="row" id="contact">
        <div class="col s12">
            <h3>Meet our developers</h3>
        </div><br>
        <div class="row create-portfolio">
            <div class="col s4 offset-s1">
                <div class="card horizontal developer">
                    <div class="card-image">
                        <img src="images/haifa.jpg" alt="haifa">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://github.com/HaifaSeyam">Haifa Seyam</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4 offset-s2">
                <div class="card horizontal developer">
                    <div class="card-image">
                        <img src="images/sean.jpg" alt="sean">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://github.com/bullsean">Sean Bullock</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End first section -->
{{>footer}}
    
    