{{>main-header}}

<!--Start top parallax-->
<div class="parallax-container center valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 white-text">
                <h1>Portfolio Builders</h1>
                <h3>Everything You Need. And More.</h3>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/parallax1.jpg"></div>
</div><br><br>
<!--End top parallax-->
<!--Start first section -->
<div class="section white content-container">
    <div class="row">
        <div class="row">
            <div class="col s6">
                <img class="img-portfolio responsive-img" src="images/img_01.jpg" alt="img_01">
            </div>
            <div class="col s6">
                <h4 class="content-headers">Build a portfolio in minutes, not days!</h4>
                <p>
                    Creating a website can be a frustrating process for those who do not have any technical knowledge.
                    That’s why we created a Portfolio Builder (CMS) that lets you create your own website. Get online,
                    choose one of our templates
                    and take control of your online presence.
                </p>
                <h4 class="content-headers">Why CMS?</h4>
                <p>
                    A CMS or a 'Content Management System' allows you to control and manage the content within your
                    website without having any technical background. Using this uncomplicated system you can very easily
                    add, delete images and edit text in your website on the fly.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 steps-div">
            <div class="col s6">
                <h4 class="content-headers">How to create a portfolio?</h4>
                <h6>1. Sign up</h6>
                <p class="text-darken-3 lighten-3">Create an account and enter all of your infromation.</p>
                <h6>2. Choose a template</h6>
                <p class="text-darken-3 lighten-3">Pick one of our desined templates. We have more than 100 templates.
                </p>
                <h6>3. Customize your portfolio</h6>
                <p class="text-darken-3 lighten-3">Make a professional website that will represent you best! Find all
                    the tools that will make your portfolio entries shine!</p>
                <h6>4. Publish</h6>
                <p class="text-darken-3 lighten-3">Creating a portfolio is just the start! Check our services to learn
                    more.</p>
            </div>
            <div class="col s6">
                <img id="img-02-div" class="img-portfolio responsive-img" src="images/img_02.jpg" alt="img_02">
            </div>
        </div>
    </div><br><br>
    <div id="templates" class="row">
        <div class="col s6 right-align">
            <h4>Check out our templates...</h4>
        </div>
        <div class="col s6">
               
        </div>
    </div>
    <br>
    <div class="row relative">
        <div class="col s12 photos center">
            <div class="col s4">
                <a id="first-child" href="/additionalTemplate"><img class="img-cms" id="img-cms-02" src="images/temp_02.jpg"
                        alt="img_01"></a>
            </div>
            <div class="col s4">
                <a id="first-child" href="/darkTemplateView"><img class="img-cms" id="img-cms-03" src="images/temp_01.jpg"
                        alt="img_01"></a>
            </div>
            <div class="col s4">
                <a id="first-child" href="/lightTemplateView"><img class="img-cms" id="img-cms-04" src="images/temp_03.jpg"
                        alt="img_01"></a>
            </div>
        </div>
    </div>
</div><br>

<div class="section white content-container" id="signup">
    <div class="row">
        <div class="col s6">

        </div>
        <div class="col s6 left-align">
            <h4>...and get started</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s6 center">
                <a class="btn-large modal-trigger" id="sign-up" data-target="modal-signup">Sign Up</a>
            </div>

            <div class="col s6 center">
                <a class="btn-large modal-trigger" id="login" data-target="modal-login">Login</a>
            </div>
            {{!-- SIGN UP MODAL --}}
            <div id="modal-signup" class="modal">
                <div class="modal-content">
                    <h4>Sign up</h4><br />
                    <form id="signup-form">
                        <div class="input-field">
                            <input type="email" id="signup-email" required />
                            <label for="signup-email">Email address</label>
                        </div>
                        <div class="input-field">
                            <input type="password" id="signup-password" required />
                            <label for="signup-password">Choose password</label>
                        </div>
                        <button class="btn z-depth-0">Sign up</button>
                    </form>
                </div>
            </div>
            <!-- LOGIN MODAL -->
            <div id="modal-login" class="modal">
                <div class="modal-content">
                    <h4>Login</h4><br />
                    <form id="login-form">
                        <div class="input-field">
                            <input type="email" id="login-email" required />
                            <label for="login-email">Email address</label>
                        </div>
                        <div class="input-field">
                            <input type="password" id="login-password" required />
                            <label for="login-password">Your password</label>
                        </div>
                        <button class="btn z-depth-0">Login</button>
                    </form>
                </div>
            </div>
            <!-- END MODALS -->
        </div>
    </div>
    <br><br>

    <div class="row" id="contact">
        <div class="col s12">
            <h4 id="div-h4">Meet our developers</h4>
        </div>
        <div class="row create-portfolio">
            <div class="col s4 offset-s1">
                <div class="card horizontal developer">
                    <div class="card-image">
                        <img class="resonsice-img" src="images/haifa.jpg" alt="haifa">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                        <div class="card-action">
                            <a class="dev-connect" id="first-child" href="https://github.com/HaifaSeyam">Haifa
                                Seyam</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4 offset-s2">
                <div class="card horizontal developer">
                    <div class="card-image">
                        <img class="resonsice-img" src="images/sean.jpg" alt="sean">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                        <div class="card-action">
                            <a class="dev-connect" id="first-child" href="https://github.com/bullsean">Sean
                                Bullock</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of first section -->
{{>footer}}