
<div id="loginBG">
		<div id="header">
			<div class="container">
					<div id="#masthead">
						<a id="first-child" href="index.html">About</a>
						<a href="portfolio.html">Technologies</a>
						<a href="contact.html">Contact</a>
					</div>
			</div>
		</div>
    <div class="loginFormContainer">
      <div class="card">
        <div class="card-content">
          <span class="card-title"><h3>Sign In with</h2></span>
          <div class="socialIcons">
						<a href="#" class="fa fa-facebook"> | Facebook</a>
						<a href="#" class="fa fa-google"> | Google</a>
					</div>
					<div class="loginForm">
						<form>
							<div class="input-field">
								<input placeholder="" id="user_name" type="text" class="validate">
								<label for="user_name">User Name</label>
							</div>
							<div class="input-field">
								<input placeholder="" id="password" type="password" class="validate">
								<label for="password">Password<a id="forget" href="">Forget?</a></label>
							</div>
							<div>
								<a class="btn">Sign In</a>
							</div>
						</form>
					</div>
        </div>
        <div class="card-action">
					<p id="not-a-member">Not a member?<a id="signUpNow" href="">Sign up now</a></p>
        </div>
      </div>
  </div>
	<div class="clear"></div>

</div>