{{>login-header}}

<!--Start bottom parallax-->
<div class="parallax-container center valign-wrapper other-pages-parallax">
    <div class="container">
        <div class="row parallax03">
            <div class="col s12 white-text">
                <h1>Hello there ... </h1>
				<h3>Login below to access your account</h3>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/parallax3.jpg"></div>
</div>
<!--End bottom parallax-->
<!--Start first section -->
<div class="section white content-container" id="signup">
    <div class="row">
        <div class="col s10 card-wrap offset-s1">
            <div class="card">
                <h1>Please login here </h1>
                <div class="divider"></div>
                <form id="signup_form">
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
							<i class="material-icons prefix">account_circle</i>
							<input placeholder="" id="username" type="text" class="validate">
                            <label for="username">User Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
							<i class="material-icons prefix">lock_outline</i>
                            <input placeholder="" id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                </form>
                <div class="card-action">
                    <a class="btn" id="login">Login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 loginDiv">
            <div class="loginPage-redirect">
                <h4>You don't have an account?</h4>
                <a href="/#signup">Sign up here</a>
            </div>
        </div>
    </div>
</div>
<!-- End first section -->
{{>footer}}