
<div id="signUpBG">
	<div class="section white container">
		<div class="row">
			<div class="col s12">
				<h2>Create an Account</h2> 
			</div>
			<div class="signUpForm col s12">
				<form class="col s8">
					<div class="row">
						<div class="input-field col s6">
						<input placeholder="" id="user_name" type="text" class="validate">
						<label for="user_name">User Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
						<input placeholder="" id="password" type="password" class="validate">
						<label for="password">Password</label>
						</div>
					</div>
                    <div class="row">
						<div class="input-field col s6">
						<input placeholder="" id="password" type="password" class="validate">
						<label for="password">Confirm Password</label>
						</div>
					</div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="email_inline" type="email" class="validate">
                            <label for="email_inline">Email</label>
                        </div>
                    </div>
					<div class="row">
						<div class="col s6">
							<a class="btn">Register Now</a>
						</div>
					</div>
				</form>
			</div>
			<div class="col s12">
				<p id="not-a-member">Not a member?<a id="signUpNow" href="">Sign up now</a></p>
			</div>
		</div>
	</div>
</div>
