
<div id="signUpBG">
	<div id="header">
		<div class="container">
			<div id="#masthead">
				<a id="first-child" href="index">Home</a>
				<a href="index">About</a>
				<a href="index">Contact</a>
			</div>
		</div>
		</div>
		<div class="signupFormContainer">
			<div class="card">
				<div class="card-content">
					<span class="card-title"><h3>Create an Account</h3></span><br>
					<div class="signUpForm">
						<form id="signup_form" action='/submit' method="post">
							<div class="input-field">
								<input placeholder="" id="user_name" type="text" class="validate">
								<label for="user_name">User Name</label>
							</div>
							<div class="input-field">
								<input placeholder="" id="password" type="password" class="validate">
								<label for="password">Password</label>
							</div>
							<div class="input-field">
								<input placeholder="" id="email_inline" type="email" class="validate">
								<label for="email_inline">Email</label>
							</div>
						</form>
					</div>
					<div class="g-recaptcha" data-sitekey="site key goes here"></div>
				</div>
				<div class="card-action">
					<a class="btn">Register Now</a>
				</div>
			</div>
		</div>
		<div class="clear"></div>
</div>
