<div class="row animated slideInRight">
    <div class="col s5">
        <img src="/images/jeff-sheldon-3231-unsplash.jpg" class="responsive-img projectImg" alt="First Project">
    </div>
    <div class="col s6">
        <h4 class="center-align projectTitle">Project Block Title</h4>
        <h5>Description</h5>
        <p><u>Within this project block, we will be inserting all of the information that comes from our database using MVC
            and sequelize. If you need an example, look at week 14 activity 17 - Cats App.</u>
            Pellentesque
            venenatis nisl sit amet augue tincidunt, vitae congue lectus porta. Sed sodales semper purus, vitae
            posuere
            nulla semper eget. Integer blandit velit viverra, tristique eros tincidunt, fermentum tortor. Fusce
            sodales
            nisl vitae dui ultrices laoreet. Etiam at consequat nisi. Nunc ut ligula mi. Nulla in lacus vitae
            eros
            pharetra mollis a id mauris. Maecenas ultricies mattis lacinia. Nullam dolor sapien, consequat in
            nisi
            eu,
            volutpat.</p>
        <div class="center">
            <a class="waves-effect waves-light btn-large grey">Link</a>
        </div>
    </div>

</div>
<div class="divider"></div>
<br><br>