
	/* Defining nav bar styles
	* --------------------------------------- */
	#header{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		z-index:9;
		color: #f2f2f2;
		padding: 20px 0 0 0;
		margin: 10px;
		top:0px;
	}
	.container {
		width: 100%;
		margin: 0 auto;
	}
	#masthead {
		position: fixed ;
		z-index: 99;
		width: 100%;
		margin: 0 0 30px;
		overflow: auto;
		color: #ffffff;
		background: #ffffff;
	}
	a {
		display: inline-block;
		padding-left: 15px;
		margin-left: 15px;
		line-height: 18px;
		color: white;
		border-left: 1px solid #efefef;
		font-size: 20px;
	}
	a#first-child {
		border-left: 0 none;
	}
	
	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align: center;
	}

	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0,
	#section1,
	#section2,
	#section3,
    #slide1,
    #slide2{
		background-size: cover;
		background-attachment: fixed;
	}

	/* Defining section0 background and styles
	* --------------------------------------- */
	#section0{
		background-image: url(/images/sec00.jpg);
	}
	#section0 h1, #section0 h3{
		font-size: 5em;
		color: #fff;
		margin:0;
		padding:0;
		top: 40%;
		transform: translateY(-50%);
		position: relative;
	}
	#section0 h3{
		font-size: 2em;
	}
	#section0 .options a {
		display: inline-block;
		padding-left: 15px;
		margin-left: 10px;
		line-height: 18px;
		color: white;
		text-decoration: none;
		border-left: 1px solid #efefef;
		font-size: 25px;
	}
	#section0 .options a:first-child {
		border-left: 0 none;
	}
	#section0 div {
		top: 70%;
		transform: translateY(-50%);
		position: relative;
	}

	/* Defining section1 background and styles
	* --------------------------------------- */
	#section1{
		/* background-image: url(/images/sec02.jpg); */
		background-color: skyblue;
		padding: 6% 0 0 0;
	}

	/* Defining section2 background and styles
	* --------------------------------------- */
	#section2{
		/* background-image: url(/images/sec03.jpg); */
		background-color: pink;
		padding: 6% 0 0 0;
	}

	/* Defining section3 background and styles
	* --------------------------------------- */
	#section3{
		/* background-image: url(/images/sec04.jpg); */
		background-color: coral;
		padding: 6% 0 0 0;
	}

	/* Defining login and signup pages background and styles
	* --------------------------------------- */
	div#loginBG {
		background-image: url(/images/loginBG.jpg);
		padding: 3.59%;
	}
	div#signUpBG {
		background-image: url(/images/signupBG.jpg);
		padding: 3.59%;
	}
	.signupFormContainer, .card-action, .socialIcons,
	.loginForm, .signUpForm, .g-recaptcha{
		display: flex;
		justify-content: center;
	}
	.loginFormContainer {
		float: right;
	}
	.clear {
		clear: both;
	}
	.card-title {
		color: black;
		text-align: center;
	}
	.socialIcons {
		font-size: 20px;
	}
	.fa {
		padding: 20px;
		width: 30px;
		text-align: center;
		margin: 5px 2px;
		color: white;
		width: 200px;
		border-radius: 10px;
	}
	.fa:hover {
			opacity: 0.7;
	}
	.fa-facebook {
		background: #3B5998;
	}
	.fa-google {
		background: #dd4b39;
	}
	.loginForm, .signUpForm {
		width: 400px;
		margin: 0 auto;
	}
	#signup_form {
		width: 300px;
	}
	form div.input-field label {
		font-size: 25px;
	}
	a#forget, p#not-a-member {
		color: grey;
		font-size: 20px;
	}
	a#signUpNow {
		color: grey;
		font-size: 15px;
	}
	.btn {
		width: 300px;
		background-color: darkgray;
		margin: 0;
	}