body {
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-family: 'KoHo', sans-serif;
}
/* Defining nav bar styles
* --------------------------------------- */
#header, #header-login{
    position:fixed;
    height: 60px;
    display:block;
    width: 100%;
    z-index:9;
    color: #f2f2f2;
    padding: 20px 0 0 0;
    top:0px;
}
.navContainer {
    width: 100%;
    margin: 0 auto;
}
#masthead, #masthead-login {
    position: fixed ;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
}
a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: white;
    border-left: 1px solid #efefef;
    font-size: 20px;
}
a#first-child {
    border-left: 0 none;
}
a#logo {
    border-left: 0 none;
    float: right;
    margin-right: 40px;
    clear: both;
}
i.large {
    font-size: 2.5rem;
}
/* Defining parallax styles
* --------------------------------------- */
.white-text{
    font-family: 'Germania One', cursive;
    font-family: 'Baloo Chettan', cursive;
    font-family: 'Special Elite', cursive;
}
.parallax-container {
    min-height: 100vh;
    height: auto;
    color: rgba(255,255,255,.9);
}
.other-pages-parallax {
    min-height: 75vh;
}
.parallax-container .section {
    width: 100%;
}
.parallax img { 
     width: 110vw;
}
.parallax02 h1 {
    color: black;
}
.parallax03 h1, .parallax03 h3 {
    color: black;
}

/* Defining first row styles
* --------------------------------------- */
.content-container {
    width: 90%;
    margin: 0 auto;
}
.img-portfolio {
    width: 600px;
    height: 400px;
    border-radius: 20px;
}
h3 {
    text-align: center;
}
p {
    text-align: center;
    font-size: 25px;
}
/* Animated photo gallery
* --------------------------------------- */
.relative {
    position: relative;
    height: 238px;
}
.img-cms {
    width: 300px;
    height: 200px;
    border-radius: 20px;
}
.photos img:hover {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    z-index: 10;
}
.photos img {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.photos img {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    padding: 10px;
    background: white;
    border: solid 1px black;
}
.right {
    margin: 0;
}

.clear {
    clear: both;
}
.create-portfolio {
    background-color: #f5c2aa;
    border-radius: 20px;
}
.create-portfolio p {
    font-size: 21px;
    text-align: left;
    text-indent: 30px;
}
.create-portfolio h5 {
    font-weight: bold;
}

.templates-carousel {
    padding: 15px;
    background: white;
    border: solid 2px black;
}
.templates-carousel-header {
    text-align: center;
}

.card-wrap {
    background-color: #f5c2aa;
    padding: 20px;
    border-radius: 10px;
}
.card-wrap h1 {
    text-align: center;
}
.card-wrap label {
    font-size: 20px;
}
.card .card-action {
    text-align: center;
}
/* .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: black;
} */
.btn {
    text-transform: none;
    background-color: #f5c2aa;
    color: black;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
form {
    margin: 10px;
}
.card {
    border-radius: 10px;
}
/* Centering reCaptcha
* --------------------------------------- */
.text-center {
    text-align: center;
}
.g-recaptcha {
    display: inline-block;
}
/* Social media login styling
* --------------------------------------- */
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}
.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
}
.socialIcons {
    font-size: 20px;
    margin-left: 40px;
}
.loginPage-redirect {
    font-size: 30px;
    text-align: center;
}
.loginPage-redirect a {
    border-left: 0 none;
    color: black;
}

.fa {
    padding: 20px;
    width: 30px;
    text-align: center;
    margin: 5px 2px;
    color: white;
    width: 500px;
    border-radius: 10px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook-official{
    background: #3B5998;
}
.fa-google-plus-official {
    background: #dd4b39;
}

.developer .card-image img {
    width: 100px;
    height: 200px;
    padding: 15px;
    background: white;
}
.developer .card-image {
    width: 150px;
    height: 200px;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    font-size: 20px;
    border-left: 0 none;
    color: black;
    text-transform: none;
}
.page-footer {
    background-color: #f5c2aa;
}
.page-footer p {
    text-align: left;
}
ul li {
    margin: 10px;
}

.menuItems {
    border: 2px solid #f5c2aa;
    color: black;
    text-align: center;
}

.menuItems a {
    color: black;
}

.temps img {
    padding: 10px;
    background: white;
    border: solid 1px black;
}