body {
    width: 100%;
    font-Family: 'Raleway', Sans-Serif;
    font-Size: 15px;
    color: #1e5250;
}
/* Defining nav bar styles
* --------------------------------------- */
#header, #header-login{
    position:fixed;
    height: 60px;
    display:block;
    width: 100%;
    z-index:9;
    color: #f2f2f2;
    padding: 20px 0 0 0;
    top:0px;
}
.navContainer {
    width: 100%;
    margin: 0 auto;
}
#masthead, #masthead-login {
    position: fixed ;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
}
a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: white;
    border-left: 1px solid #efefef;
}
a#first-child {
    border-left: 0 none;
}
a#logo {
    border-left: 0 none;
    float: right;
    margin-right: 40px;
    clear: both;
}
i.large {
    font-size: 2.5rem;
}
/* Defining parallax styles
* --------------------------------------- */
.white-text{
    font-Family: 'Vollkorn', Serif;
    font-Size: 50px;
}
.parallax-container {
    min-height: 100vh;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax img { 
     width: 110vw;
}
/* Content div styling
* --------------------------------------- */
.content-container {
    width: 90%;
    margin: 0 auto;
}
.content-headers {
    text-align: center;
}
.img-portfolio {
    width: 500px;
    height: 400px;
    border-radius: 20px;
}
#img-02-div {
    margin-left: 10px;
    margin-top: 20px;
    height:400px;
    width: 600px;
}
.steps-div {
    border: 2px solid #1e5250;
}
h5 {
    text-align: center;
}
.form-border {
    border: 2px solid #1e5250;
    border-radius: 20px;
}
/* Sign-up form styling
* --------------------------------------- */
.loginPage-redirect a {
    color: #1e5250;
}
/* Centering reCaptcha
* --------------------------------------- */
.text-center {
    text-align: center;
}
.g-recaptcha {
    display: inline-block;
}
/* templatess div styling
* --------------------------------------- */
.img-cms {
    height: 180px;
    width: 150px;
    margin: 0;
}
/* Developers div styling
* --------------------------------------- */
.create-portfolio {
    background-color: #1e5250;
    border-radius: 20px;
}
.developer .card-image {
    width: 150px;
}
.developer .card-image img {
    width: 10px;
    height: 200px;
    padding: 15px;
    background: white;
}
#div-h4 {
    color: white;
    text-align: center;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #1e5250;
    text-transform: none;
}
/* Account page styling
* --------------------------------------- */
.right {
    margin: 0;
}

.clear {
    clear: both;
}
/* Footer styling
* --------------------------------------- */
footer {
    background-color: #1e5250;
    color: white;
    min-height: 50vh;
}